<template>
  <v-layout>
    <v-grid variant="container">
      <v-row>
        <v-col>
          <v-card>
            <v-card-heading>
              <v-card-title>404</v-card-title>
            </v-card-heading>
            <v-card-body>This page does not exist...</v-card-body>
          </v-card>
        </v-col>
      </v-row>
    </v-grid>
  </v-layout>
</template>
<script>
  export default {
    /**
     * The name of the page.
     */
    name: 'not-found-index',

    /**
     * The components that are being used.
     */
    components: {
      VCard: require('@/components').Card,
      VCardBody: require('@/components').CardBody,
      VCardHeading: require('@/components').CardHeading,
      VCardTitle: require('@/components').CardTitle,
      VCol: require('@/components').Col,
      VGrid: require('@/components').Grid,
      VRow: require('@/components').Row,
      VLayout: require('@/layouts').Base,
    },
  };
</script>
